body{
	background-color: whitesmoke;
}
#header {
	font-size: 		3.5em;
	color: 			#0066cc;
	font-style: 	italic;
	font-weight: 	bold;
	margin-top: 	1em;
}
#classSelector {
	margin-top: 	1em;
}
#classLabel {
	float: 			left;
	font-size: 		1.3em;
	margin-right: 	1em;
	font-family: 	helvetica;
}
#classDropDown {
	float: 				left;
	font-size: 			1.2em;
	background-color: 	white;
}
#subjectAndMessageForm {
	clear: both;
}
#subjectBox {
	width: 			23.3em;
	float: 			left;
	border: 		0.12em solid black;
	font-weight: 	bold;
	font-size: 		0.9em;
	height: 		1.8em;
	padding-top: 	0.8em;
	font-family: 	helvetica;
}
#messageBox {
	clear: 			both;
	float: 			left;
	width: 			21em;
	/*height: 10em;*/
	border: 		0.1em solid black;
	font-size: 		1em;
	font-family: 	helvetica;
	padding-top: 	0.4em;
}
.center {
	margin: 			auto;
	display: 			table;
}
#sendButton {
	clear: 						both;
	float: 						right;
	background-color: 			#0066cc;
	color: 						white;
	font-weight: 				bold;
	font-size: 					1.3em;
	margin-top: 				0.7em;
	padding-left: 				0.7em;
	padding-right: 				0.7em;
	padding-top: 				0.2em;
	padding-bottom: 			0.2em;
	border-top-left-radius: 	8px;
	border-top-right-radius: 	8px;
	border-bottom-left-radius: 	8px;
	border-bottom-right-radius: 8px;
	font-family: helvetica;
}
#viewNotifications {
	background-color: 			#0066cc;
	color: 						white;
	font-weight: 				bold;
	font-size: 					1.3em;
	margin-top: 				0.7em;
	padding-left: 				0.7em;
	padding-right: 				0.7em;
	padding-top: 				0.2em;
	padding-bottom: 			0.2em;
	border-top-left-radius: 	8px;
	border-top-right-radius: 	8px;
	border-bottom-left-radius: 	8px;
	border-bottom-right-radius: 8px;
	font-family: 				helvetica;
	width: 						10.5em;
}